html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    
 }
 
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding: 0;

}

/* 
.smooth-trans {
    animation:  ease-in-out 3s;
    animation-fill-mode: forwards;
}

.smooth-trans:hover {
    animation: ease-in-out 3s;
    animation-fill-mode: forwards;
} */

.container .row:first-child {
    margin-top: 70px;
}

.container .gallery-row {
    margin-top: 50px !important;
}